<ul class="BookingCalendar-legend">
  <li>
  <div class="BookingCalendar-legendBox BookingCalendar-legendBox--available"></div>
  <p class="BookingCalendar-legendDesc"><%= t('.visit_days') %></p>
  </li>
  <li>
  <div class="BookingCalendar-legendBox BookingCalendar-legendBox--unavailable"></div>
  <p class="BookingCalendar-legendDesc"><%= t('.non_visit_days') %></p>
  </li>
</ul>

