<div class="DateSlider visible--mobile" data-selectonload="true">
  <div class="DateSlider-month"></div>
  <div class="DateSlider-sliders">
    <a class="DateSlider-button DateSlider-buttonLeft" href="#">❮</a>
    <a class="DateSlider-button DateSlider-buttonRight" href="#">❯</a>
    <div class="DateSlider-smallDates scroll">
      <ol class="DateSlider-days"></ol>
    </div>
    <div class="DateSlider-touch scroll">
      <ol class="DateSlider-days"></ol>
    </div>
    <div class="DateSlider-portalFrame"></div>
    <div class="DateSlider-largeDates scroll">
      <ol class="DateSlider-days"></ol>
    </div>
  </div>
</div>

