<div class="hidden--js-enabled">
  <% 3.times do |i| %>
     <%=
       single_field(
         f, :"option_#{i}", :select,
         f.object.available_slots.map { |s|
           [format_slot_begin_time_for_public(s), s.iso8601]
         },
         { include_blank: true },
         class: 'SlotPicker-input'
       )
     %>
  <% end %>
</div>
