<div class="SlotPicker-timeSlots">
  <ul class="SlotPicker-days">
    <li class="SlotPicker-day SlotPicker-day--past">
    <h2 class="SlotPicker-dayTitle"></h2>
    <p><%= t('.visit_in_the_past') %></p>
    </li>
    <li class="SlotPicker-day SlotPicker-day--unavailable">
    <h2 class="SlotPicker-dayTitle"></h2>
    <p><%= t('.visit_today') %></p>
    </li>
    <li class="SlotPicker-day SlotPicker-day--beyond">
    <h2 class="SlotPicker-dayTitle"></h2>
    <p><%= t('.bookability_window', days: '{{ daysInRange }}') %></p>
    </li>
    <li class="SlotPicker-day SlotPicker-day--leadtime">
    <h2 class="SlotPicker-dayTitle"></h2>
    <p><%= t('.required_notice') %></p>
    </li>
  </ul>
</div>
