MOJSSO_ID=1111111111111111111111111111111111111111111111111111111111111111
MOJSSO_SECRET=2222222222222222222222222222222222222222222222222222222222222222
MOJSSO_URL=http://localhost:5000

# I'm not convinced that this needs to be set - it's in config/database.yml
#DATABASE_URL="postgres://<user>:@<host>:<port>"

NOMIS_STAFF_SLOT_AVAILABILITY_ENABLED=true
STAFF_PRISONS_WITH_SLOT_AVAILABILITY=Pentonville,Leeds
PUBLIC_PRISONS_WITH_SLOT_AVAILABILITY=Leeds

NOMIS_OAUTH_CLIENT_ID="client-id"
NOMIS_OAUTH_CLIENT_SECRET="secret"
NOMIS_OAUTH_HOST="https://sign-in-dev.hmpps.service.justice.gov.uk"
PRISON_API_HOST="https://prison-api-dev.prison.service.justice.gov.uk"
