<h1 class="heading-xlarge">
  Digital take-up
</h1>

<p>Find out how many visits are booked online or by telephone</p>

<% content_for :metrics do %>
  <%= javascript_include_tag '//www.gstatic.com/charts/loader.js' %>
  <%= javascript_include_tag 'metrics' %>
<% end %>

<div class="js-DigitalTakeup" id="digital-takeup" data-i18n=<%= javascript_i18n.to_json %>></div>
