---
http_interactions:
- request:
    method: post
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057307/visits/booking
    body:
      encoding: UTF-8
      string: '{"lead_contact":13429,"other_contacts":[],"slot":"2018-04-14T15:30/16:30","override_offender_restrictions":false,"override_visitor_restrictions":false,"override_vo_balance":false,"override_slot_capacity":false}'
    headers:
      Authorization:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Offender has an active ban or restriction"},{"message":"Overlapping
        visit"}]}'
  recorded_at: Fri, 06 Apr 2018 10:18:59 GMT
recorded_with: VCR 4.0.0
