---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/lookup/active_offender?date_of_birth=1979-04-23&noms_id=A1475AE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/lookup/active_offender"
    body:
      encoding: ASCII-8BIT
      string: '{"found":true,"offender":{"id":1057027}}'
  recorded_at: Mon, 21 May 2018 10:08:41 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057027/visits/unavailability?dates=2018-05-25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"2018-05-25":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false}}'
  recorded_at: Mon, 21 May 2018 10:08:41 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/prison/LEI/slots?end_date=2018-05-25&start_date=2018-05-25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/prison/{prison_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"slots":[{"time":"2018-05-25T10:00\/11:30","capacity":50,"max_groups":3,"max_adults":6,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-05-25T14:00\/15:00","capacity":50,"max_groups":3,"max_adults":6,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-05-25T15:30\/16:30","capacity":50,"max_groups":8,"max_adults":50,"groups_booked":0,"visitors_booked":0,"adults_booked":0}]}'
  recorded_at: Mon, 21 May 2018 10:08:41 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057027/visits/restrictions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"restrictions":[{"type":{"code":"BAN","desc":"Banned"},"effective_date":"2016-04-03","expiry_date":"2016-04-04"},{"type":{"code":"CLOSED","desc":"Closed"},"effective_date":"2016-04-03","expiry_date":"2018-04-27"}]}'
  recorded_at: Mon, 21 May 2018 10:08:41 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057027/visits/contact_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"id":13621,"given_name":"BOB","surname":"LIPMAN","date_of_birth":"1970-01-01","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"HUS","desc":"Husband"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":true,"restrictions":[]},{"id":13668,"given_name":"e","surname":"e","gender":{},"relationship_type":{"code":"COM","desc":"Case
        Admin (Offender Management Unit)"},"contact_type":{"code":"O","desc":"Official"},"approved_visitor":false,"active":true,"restrictions":[]}]}'
  recorded_at: Mon, 21 May 2018 10:08:41 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/A1475AE/location
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"establishment":{"code":"LEI","desc":"LEEDS (HMP)"},"housing_location":{"description":"LEI-H-2-006","levels":[{"type":"Wing","value":"H"},{"type":"Landing","value":"2"},{"type":"Cell","value":"006"}]}}'
  recorded_at: Mon, 21 May 2018 10:08:42 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/A1475AE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"given_name":"MARGARET","surname":"LIPMAN","date_of_birth":"1979-04-23","aliases":[],"gender":{"code":"F","desc":"Female"},"convicted":true,"pnc_number":"PNC/A1475AE","imprisonment_status":{"code":"SENT03","desc":"Adult
        Imprisonment Without Option CJA03"},"iep_level":{"code":"STD","desc":"Standard"},"security_category":{"code":"U","desc":"Unclass"}}'
  recorded_at: Mon, 21 May 2018 10:08:42 GMT
- request:
    method: post
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057027/visits/booking
    body:
      encoding: UTF-8
      string: '{"lead_contact":13621,"other_contacts":[],"slot":"2018-05-25T10:00/11:30","override_offender_restrictions":false,"override_visitor_restrictions":false,"override_vo_balance":false,"override_slot_capacity":false,"client_unique_ref":"d6cf9342-e071-44d7-a8fc-527a7ddd3142"}'
    headers:
      Authorization:
      - authorisation_header
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"visit_id":5984,"visit_order":{"number":2018000000157,"type":{"code":"VO","desc":"Visiting
        Order"}}}'
  recorded_at: Mon, 21 May 2018 10:08:43 GMT
[...]
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057027/visits/contact_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"id":13621,"given_name":"BOB","surname":"LIPMAN","date_of_birth":"1970-01-01","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"HUS","desc":"Husband"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":true,"restrictions":[]},{"id":13668,"given_name":"e","surname":"e","gender":{},"relationship_type":{"code":"COM","desc":"Case
        Admin (Offender Management Unit)"},"contact_type":{"code":"O","desc":"Official"},"approved_visitor":false,"active":true,"restrictions":[]}]}'
  recorded_at: Mon, 21 May 2018 10:08:45 GMT
recorded_with: VCR 4.0.0
