---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/lookup/active_offender?date_of_birth=1971-11-11&noms_id=A1484AE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/lookup/active_offender"
    body:
      encoding: ASCII-8BIT
      string: '{"found":true,"offender":{"id":1057307}}'
  recorded_at: Fri, 06 Apr 2018 13:12:51 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057307/visits/unavailability?dates=2018-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"2018-04-14":{"external_movement":false,"existing_visits":[{"id":5915,"slot":"2018-04-14T15:30\/16:30"}],"out_of_vo":false,"banned":false}}'
  recorded_at: Fri, 06 Apr 2018 13:12:51 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/prison/LEI/slots?end_date=2018-04-14&start_date=2018-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/prison/{prison_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"slots":[{"time":"2018-04-14T09:00\/10:00","capacity":100,"max_groups":20,"max_adults":50,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-04-14T10:30\/11:30","capacity":100,"max_groups":8,"max_adults":50,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-04-14T13:00\/15:00","capacity":100,"max_groups":20,"max_adults":50,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-04-14T14:00\/15:00","capacity":100,"max_groups":8,"max_adults":50,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-04-14T15:30\/16:30","capacity":100,"max_groups":8,"max_adults":50,"groups_booked":1,"visitors_booked":2,"adults_booked":2}]}'
  recorded_at: Fri, 06 Apr 2018 13:12:51 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057307/visits/restrictions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"restrictions":[{"type":{"code":"CCTV","desc":"CCTV"},"effective_date":"2017-07-24","expiry_date":"2017-09-17","comment_text":"99"},{"type":{"code":"RESTRICTED","desc":"Restricted"},"effective_date":"2017-07-31","expiry_date":"2017-07-31"},{"type":{"code":"CLOSED","desc":"Closed"},"effective_date":"2017-07-18","expiry_date":"2017-08-01"},{"type":{"code":"BAN","desc":"Banned"},"effective_date":"2017-10-11","expiry_date":"2017-10-12","comment_text":"Banned
        for shouting"},{"type":{"code":"BAN","desc":"Banned"},"effective_date":"2017-09-14","expiry_date":"2017-09-14"},{"type":{"code":"BAN","desc":"Banned"},"effective_date":"2017-03-09","expiry_date":"2017-03-13"},{"type":{"code":"CLOSED","desc":"Closed"},"effective_date":"2017-04-13","expiry_date":"2017-04-24"},{"type":{"code":"CCTV","desc":"CCTV"},"effective_date":"2017-11-15","expiry_date":"2018-01-01","comment_text":"We
        need to keep a close eye on this prisoner as they are up to something. Probably
        getting green smuggled in from that Alan Kennedy!"},{"type":{"code":"CLOSED","desc":"Closed"},"effective_date":"2017-11-15","expiry_date":"2017-11-16"},{"type":{"code":"PREINF","desc":"Previous
        Info"},"effective_date":"2017-11-15","expiry_date":"2018-01-01"}]}'
  recorded_at: Fri, 06 Apr 2018 13:12:51 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/A1484AE/location
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"establishment":{"code":"LEI","desc":"LEEDS (HMP)"},"housing_location":{"description":"LEI-H-1-003","levels":[{"type":"Wing","value":"H"},{"type":"Landing","value":"1"},{"type":"Cell","value":"003"}]}}'
  recorded_at: Fri, 06 Apr 2018 13:12:51 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/A1484AE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"given_name":"IZZY","surname":"ITSU","date_of_birth":"1971-11-11","aliases":[],"gender":{"code":"M","desc":"Male"},"convicted":true,"pnc_number":"PNC/A1484AE","imprisonment_status":{"code":"UNK_SENT","desc":"Unknown
        Sentenced"},"iep_level":{"code":"STD","desc":"Standard"}}'
  recorded_at: Fri, 06 Apr 2018 13:12:51 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057307/visits/contact_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"id":13432,"given_name":"SHAY","surname":"DEE","date_of_birth":"1978-06-07","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"SOL","desc":"Solicitor"},"contact_type":{"code":"O","desc":"Official"},"approved_visitor":true,"active":false,"restrictions":[]},{"id":13428,"given_name":"IRMA","middle_names":"CHRISTINE","surname":"ITSU","date_of_birth":"1975-04-03","gender":{"code":"F","desc":"Female"},"relationship_type":{"code":"WIFE","desc":"Wife"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":true,"restrictions":[]},{"id":13429,"given_name":"ISAIAH","surname":"ITSU","date_of_birth":"1981-11-16","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"BRO","desc":"Brother"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":false,"restrictions":[]},{"id":12588,"given_name":"BILLY","surname":"JONES","date_of_birth":"1970-01-01","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"FRI","desc":"Friend"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":true,"restrictions":[]}]}'
  recorded_at: Fri, 06 Apr 2018 13:12:51 GMT
- request:
    method: post
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057307/visits/booking
    body:
      encoding: UTF-8
      string: '{"lead_contact":13428,"other_contacts":[],"slot":"2018-04-14T15:30/16:30","override_offender_restrictions":false,"override_visitor_restrictions":false,"override_vo_balance":false,"override_slot_capacity":false,"client_unique_ref":"ce86bb6c-46b7-4e61-81e7-421230327fef"}'
    headers:
      Authorization:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Overlapping visit"}]}'
  recorded_at: Fri, 06 Apr 2018 13:12:53 GMT
[...]
