---
http_interactions:
- request:
    method: post
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057307/visits/booking
    body:
      encoding: UTF-8
      string: '{"lead_contact":13429,"other_contacts":[],"slot":"2018-04-28T13:00/15:00","override_offender_restrictions":false,"override_visitor_restrictions":false,"override_vo_balance":false,"override_slot_capacity":false,"client_unique_ref":"visit_id_12178"}'
    headers:
      Authorization:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"visit_id":5905}'
  recorded_at: Thu, 05 Apr 2018 14:57:11 GMT
recorded_with: VCR 4.0.0
