---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057307/visits/contact_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"id":13432,"given_name":"SHAY","surname":"DEE","date_of_birth":"1978-06-07","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"SOL","desc":"Solicitor"},"contact_type":{"code":"O","desc":"Official"},"approved_visitor":true,"active":false,"restrictions":[]},{"id":13428,"given_name":"IRMA","middle_names":"CHRISTINE","surname":"ITSU","date_of_birth":"1975-04-03","gender":{"code":"F","desc":"Female"},"relationship_type":{"code":"WIFE","desc":"Wife"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":true,"restrictions":[]},{"id":13429,"given_name":"ISAIAH","surname":"ITSU","date_of_birth":"1981-11-16","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"BRO","desc":"Brother"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":false,"restrictions":[]},{"id":12588,"given_name":"BILLY","surname":"JONES","date_of_birth":"1970-01-01","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"FRI","desc":"Friend"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":true,"restrictions":[]}]}'
  recorded_at: Thu, 05 Apr 2018 13:58:43 GMT
recorded_with: VCR 4.0.0
