---
http_interactions:
- request:
    method: get
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/v1/offenders/1502035/visits/contact_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"id":2996406,"given_name":"AELAREET","surname":"ANTOINETTE","date_of_birth":"1990-09-22","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"SON","desc":"Son"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":true,"restrictions":[]},{"id":3191193,"given_name":"DABUOTHDAVID","surname":"AUGEVIEVE","date_of_birth":"1986-03-09","gender":{"code":"F","desc":"Female"},"relationship_type":{"code":"NIE","desc":"Niece"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":false,"restrictions":[]},{"id":2996409,"given_name":"IRILISA","surname":"BRADERTO","date_of_birth":"1995-01-19","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"SON","desc":"Son"},"contact_type":{"code":"S"[...]
