---
http_interactions:
- request:
    method: get
    uri: https://api-dev.prison.service.justice.gov.uk/api/v1/prison/VEI/slots?end_date=2020-10-24&start_date=2020-10-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"slots":[{"time":"2020-10-14T14:00/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-15T14:00/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-16T14:00/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-17T14:00/16:00","capacity":100,"max_groups":50,"max_adults":100,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-18T14:00/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-19T14:00/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-20T14:00/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-21T14:00/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-22T14:00/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-23T14:00/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2020-10-24T14:00/16:00","capacity":100,"max_groups":50,"max_adults":100,"groups_booked":0,"visitors_booked":0,"adults_booked":0}]}'
  recorded_at: Tue, 08 Sep 2020 10:35:52 GMT
recorded_with: VCR 6.0.0
