---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057307/visits/restrictions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"restrictions":[{"type":{"code":"CCTV","desc":"CCTV"},"effective_date":"2017-07-24","expiry_date":"2017-09-17","comment_text":"99"},{"type":{"code":"RESTRICTED","desc":"Restricted"},"effective_date":"2017-07-31","expiry_date":"2017-07-31"},{"type":{"code":"CLOSED","desc":"Closed"},"effective_date":"2017-07-18","expiry_date":"2017-08-01"},{"type":{"code":"BAN","desc":"Banned"},"effective_date":"2017-10-11","expiry_date":"2017-10-12","comment_text":"Banned
        for shouting"},{"type":{"code":"BAN","desc":"Banned"},"effective_date":"2017-09-14","expiry_date":"2017-09-14"},{"type":{"code":"BAN","desc":"Banned"},"effective_date":"2017-03-09","expiry_date":"2017-03-13"},{"type":{"code":"CLOSED","desc":"Closed"},"effective_date":"2017-04-13","expiry_date":"2017-04-24"},{"type":{"code":"CCTV","desc":"CCTV"},"effective_date":"2017-11-15","comment_text":"We
        need to keep a close eye on this prisoner as they are up to something. Probably
        getting green smuggled in from that Alan Kennedy!"},{"type":{"code":"CLOSED","desc":"Closed"},"effective_date":"2017-11-15","expiry_date":"2017-11-16"},{"type":{"code":"PREINF","desc":"Previous
        Info"},"effective_date":"2017-11-15"}]}'
  recorded_at: Thu, 05 Apr 2018 13:58:46 GMT
recorded_with: VCR 4.0.0
