---
http_interactions:
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/prison/VEI/slots?end_date=2019-11-24&start_date=2019-11-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/prison/{prison_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"slots":[{"time":"2019-11-14T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-15T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-16T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":100,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-17T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-18T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-19T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-20T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-21T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-22T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-23T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":100,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2019-11-24T14:00\/16:00","capacity":100,"max_groups":50,"max_adults":99,"groups_booked":0,"visitors_booked":0,"adults_booked":0}]}'
  recorded_at: Wed, 13 Nov 2019 13:55:28 GMT
recorded_with: VCR 5.0.0
