---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/prison/LEI/slots?end_date=2018-04-29&start_date=2018-04-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/prison/{prison_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"slots":[{"time":"2018-04-05T10:00\/11:30","capacity":100,"max_groups":2,"max_adults":4,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-04-05T14:00\/15:00","capacity":100,"max_groups":1,"max_adults":50,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-04-05T15:30\/16:30","capacity":100,"max_groups":8,"max_adults":50,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-04-06T10:00\/11:30","capacity":100,"max_groups":3,"max_adults":6,"groups_booked":0,"visitors_booked":0,"adults_booked":0},{"time":"2018-04-06T14:00\/15:00","capacity":100,"max_groups":3,"max_adults":6,"groups_[...]
