---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/A1484AE/location
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"establishment":{"code":"LEI","desc":"LEEDS (HMP)"},"housing_location":{"description":"LEI-H-1-003","levels":[{"type":"Wing","value":"H"},{"type":"Landing","value":"1"},{"type":"Cell","value":"003"}]}}'
  recorded_at: Thu, 05 Apr 2018 13:58:45 GMT
recorded_with: VCR 4.0.0
