---
http_interactions:
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/offenders/G7244GR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"given_name":"UDFSANAYE","surname":"KURTEEN","date_of_birth":"1966-11-22","aliases":[],"gender":{"code":"M","desc":"Male"},"nationalities":"sxiVsxi","religion":{"code":"RC","desc":"EDWdamUEDWdamU"},"ethnicity":{"code":"W1","desc":"White:
        Eng./Welsh/Scot./N.Irish/British"},"csra":{"code":"HI","desc":"High"},"convicted":true,"pnc_number":"84/36220X","cro_number":"36220/84R","imprisonment_status":{"code":"SENT03","desc":"Adult
        Imprisonment Without Option CJA03"},"iep_level":{"code":"ENH","desc":"Enhanced"},"security_category":{"code":"C","desc":"Cat
        C"}}'
  recorded_at: Wed, 13 Nov 2019 09:35:50 GMT
recorded_with: VCR 5.0.0
