---
http_interactions:
- request:
    method: get
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/v1/offenders/G7244GR/location
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"establishment":{"code":"LEI","desc":"LEEDS (HMP)"},"housing_location":{"description":"LEI-F-3-005","levels":[{"type":"Wing","value":"F"},{"type":"Landing","value":"3"},{"type":"Cell","value":"005"}]}}'
  recorded_at: Tue, 08 Sep 2020 10:04:42 GMT
recorded_with: VCR 6.0.0
