---
http_interactions:
- request:
    method: get
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/v1/offenders/G7244GR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"given_name":"UDFSANAYE","surname":"KURTEEN","date_of_birth":"1966-11-22","aliases":[],"gender":{"code":"M","desc":"Male"},"nationalities":"British","religion":{"code":"RC","desc":"Roman
        Catholic"},"ethnicity":{"code":"W1","desc":"White: Eng./Welsh/Scot./N.Irish/British"},"csra":{"code":"HI","desc":"High"},"convicted":true,"pnc_number":"84/36220X","cro_number":"36220/84R","imprisonment_status":{"code":"SENT03","desc":"Adult
        Imprisonment Without Option CJA03"},"iep_level":{"code":"ENH","desc":"Enhanced"},"security_category":{"code":"C","desc":"Cat
        C"}}'
  recorded_at: Tue, 08 Sep 2020 10:04:40 GMT
recorded_with: VCR 6.0.0
