---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/A1484AE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"given_name":"IZZY","surname":"ITSU","date_of_birth":"1971-11-11","aliases":[],"gender":{"code":"M","desc":"Male"},"convicted":true,"pnc_number":"PNC/A1484AE","imprisonment_status":{"code":"UNK_SENT","desc":"Unknown
        Sentenced"},"iep_level":{"code":"STD","desc":"Standard"}}'
  recorded_at: Thu, 05 Apr 2018 13:58:46 GMT
recorded_with: VCR 4.0.0
