---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/lookup/active_offender?date_of_birth=1979-04-23&noms_id=A1475AE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/lookup/active_offender"
    body:
      encoding: ASCII-8BIT
      string: '{"found":true,"offender":{"id":1057027}}'
  recorded_at: Thu, 05 Apr 2018 13:07:33 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057027/visits/contact_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"id":13621,"given_name":"BOB","surname":"LIPMAN","date_of_birth":"1970-01-01","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"HUS","desc":"Husband"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":true,"restrictions":[]},{"id":13668,"given_name":"e","surname":"e","gender":{},"relationship_type":{"code":"COM","desc":"Case
        Admin (Offender Management Unit)"},"contact_type":{"code":"O","desc":"Official"},"approved_visitor":false,"active":true,"restrictions":[]}]}'
  recorded_at: Thu, 05 Apr 2018 13:07:34 GMT
[...]
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057027/visits/contact_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"id":13621,"given_name":"BOB","surname":"LIPMAN","date_of_birth":"1970-01-01","gender":{"code":"M","desc":"Male"},"relationship_type":{"code":"HUS","desc":"Husband"},"contact_type":{"code":"S","desc":"Social/
        Family"},"approved_visitor":true,"active":true,"restrictions":[]},{"id":13668,"given_name":"e","surname":"e","gender":{},"relationship_type":{"code":"COM","desc":"Case
        Admin (Offender Management Unit)"},"contact_type":{"code":"O","desc":"Official"},"approved_visitor":false,"active":true,"restrictions":[]}]}'
  recorded_at: Thu, 05 Apr 2018 13:07:35 GMT
recorded_with: VCR 4.0.0
