---
http_interactions:
- request:
    method: get
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/v1/offenders/1502035/visits/unavailability?dates=2019-11-15,2019-11-16,2019-11-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":400,"userMessage":"Dates requested must be in future","developerMessage":"400
        Dates requested must be in future"}'
  recorded_at: Tue, 08 Sep 2020 10:04:41 GMT
[...]
- request:
    method: get
    uri: https://prison-api-dev.prison.service.justice.gov.uk/api/v1/offenders/1502035/visits/unavailability?dates=2020-10-15,2020-10-16,2020-10-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"2020-10-15":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false},"2020-10-16":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false},"2020-10-17":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false}}'
  recorded_at: Tue, 08 Sep 2020 10:48:46 GMT
recorded_with: VCR 6.0.0
