---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/lookup/active_offender?date_of_birth=1979-04-23&noms_id=A1410AE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/lookup/active_offender"
    body:
      encoding: ASCII-8BIT
      string: '{"found":false}'
  recorded_at: Mon, 23 Apr 2018 12:49:06 GMT
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/A1410AE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"given_name":"JILLY","surname":"HALLY","date_of_birth":"1960-06-01","aliases":[],"gender":{"code":"F","desc":"Female"},"nationalities":"American","language":{"preferred_spoken":{"code":"ENG","desc":"English"},"interpreter_required":false},"convicted":true,"pnc_number":"PNC/A1410AE","imprisonment_status":{"code":"SENT03","desc":"Adult
        Imprisonment Without Option CJA03"},"iep_level":{"code":"STD","desc":"Standard"},"diet":{"code":"GLU","desc":"Medical
        - Gluten Free Diet"},"security_category":{"code":"U","desc":"Unclass"}}'
  recorded_at: Mon, 23 Apr 2018 12:49:06 GMT
recorded_with: VCR 4.0.0
