---
http_interactions:
- request:
    method: get
    uri: https://api-dev.prison.service.justice.gov.uk/api/v1/lookup/active_offender?date_of_birth=1966-11-22&noms_id=A1410AE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"found":false}'
  recorded_at: Wed, 13 Nov 2019 00:00:00 GMT
- request:
    method: get
    uri: https://api-dev.prison.service.justice.gov.uk/api/v1/prison/LEI/slots?end_date=2019-11-19&start_date=2019-11-19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":400,"userMessage":"Start date cannot be in the past","developerMessage":"400
        Start date cannot be in the past"}'
  recorded_at: Wed, 13 Nov 2019 00:00:00 GMT
- request:
    method: get
    uri: https://api-dev.prison.service.justice.gov.uk/api/v1/prison/LEI/slots?end_date=2019-11-19&start_date=2019-11-19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":400,"userMessage":"Start date cannot be in the past","developerMessage":"400
        Start date cannot be in the past"}'
  recorded_at: Wed, 13 Nov 2019 00:00:00 GMT
recorded_with: VCR 6.0.0
