---
http_interactions:
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/elite2api/api/v1/offenders/1502035/visits/unavailability?dates=2019-11-15,2019-11-16,2019-11-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"2019-11-15":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false},"2019-11-16":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false},"2019-11-17":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false}}'
  recorded_at: Thu, 14 Nov 2019 15:23:34 GMT
recorded_with: VCR 5.0.0
