---
http_interactions:
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/offenders/1502035/visits/unavailability?dates=2019-11-14,2019-11-15,2019-11-16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"2019-11-14":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false},"2019-11-15":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false},"2019-11-16":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false}}'
  recorded_at: Wed, 13 Nov 2019 09:35:49 GMT
recorded_with: VCR 5.0.0
