---
http_interactions:
- request:
    method: get
    uri: https://noms-api-dev.dsd.io/nomisapi/offenders/1057307/visits/unavailability?dates=2018-04-07,2018-04-14,2018-04-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"2018-04-07":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false},"2018-04-14":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false},"2018-04-21":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false}}'
  recorded_at: Thu, 05 Apr 2018 13:58:44 GMT
recorded_with: VCR 4.0.0
