---
http_interactions:
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/lookup/active_offender?date_of_birth=1966-11-22&noms_id=G7244GR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/lookup/active_offender"
    body:
      encoding: ASCII-8BIT
      string: '{"found":true,"offender":{"id":1502035}}'
  recorded_at: Wed, 13 Nov 2019 10:24:52 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/offenders/G7244GR/location
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"establishment":{"code":"LEI","desc":"LEEDS (HMP)"},"housing_location":{"description":"LEI-F-3-005","levels":[{"type":"Wing","value":"F"},{"type":"Landing","value":"3"},{"type":"Cell","value":"005"}]}}'
  recorded_at: Wed, 13 Nov 2019 10:24:52 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/offenders/G7244GR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"given_name":"UDFSANAYE","surname":"KURTEEN","date_of_birth":"1966-11-22","aliases":[],"gender":{"code":"M","desc":"Male"},"nationalities":"sxiVsxi","religion":{"code":"RC","desc":"EDWdamUEDWdamU"},"ethnicity":{"code":"W1","desc":"White:
        Eng./Welsh/Scot./N.Irish/British"},"csra":{"code":"HI","desc":"High"},"convicted":true,"pnc_number":"84/36220X","cro_number":"36220/84R","imprisonment_status":{"code":"SENT03","desc":"Adult
        Imprisonment Without Option CJA03"},"iep_level":{"code":"ENH","desc":"Enhanced"},"security_category":{"code":"C","desc":"Cat
        C"}}'
  recorded_at: Wed, 13 Nov 2019 10:24:52 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/lookup/active_offender?date_of_birth=1964-05-03&noms_id=G4315UW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/lookup/active_offender"
    body:
      encoding: ASCII-8BIT
      string: '{"found":true,"offender":{"id":2190892}}'
  recorded_at: Wed, 13 Nov 2019 12:44:52 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/offenders/2190892/visits/unavailability?dates=2019-11-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{offender_id}/visits"
    body:
      encoding: ASCII-8BIT
      string: '{"2019-11-20":{"external_movement":false,"existing_visits":[],"out_of_vo":false,"banned":false}}'
  recorded_at: Wed, 13 Nov 2019 12:44:52 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/offenders/G4315UW/location
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"establishment":{"code":"VEI","desc":"The Verne Immigration Removal
        Centre"},"housing_location":{"description":"VEI-B1-2-75","levels":[{"type":"Wing","value":"B1"},{"type":"Landing","value":"2"},{"type":"Cell","value":"75"}]}}'
  recorded_at: Wed, 13 Nov 2019 12:44:53 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/nomisapi/offenders/G4315UW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Url-Template:
      - "/offenders/{noms_id}"
    body:
      encoding: ASCII-8BIT
      string: '{"given_name":"IJAREEKAS","surname":"ABBOY","date_of_birth":"1964-05-03","aliases":[{"given_name":"OSSSEFJIT","middle_names":"JESSA","surname":"CIAROR","date_of_birth":"1964-05-23"},{"given_name":"OSSSEFJIT","surname":"FRANKLONDA","date_of_birth":"1964-05-11"},{"given_name":"OSSSEFJIT","middle_names":"CAMDYN","surname":"KHALIFER","date_of_birth":"1964-05-24"},{"given_name":"UHOYNEKE","surname":"CARMIN","date_of_birth":"1964-04-20"}],"gender":{"code":"M","desc":"Male"},"nationalities":"qpTqpT","religion":{"code":"RC","desc":"EDWdamUEDWdamU"},"ethnicity":{"code":"W9","desc":"White:
        Any other background"},"language":{"preferred_spoken":{"code":"POL","desc":"Polish"},"interpreter_required":false},"csra":{"code":"STANDARD","desc":"Standard"},"convicted":false,"pnc_number":"05/523121K","cro_number":"114078/05E","imprisonment_status":{"code":"DEPORT","desc":"Awaiting
        Deportation Only"},"iep_level":{"code":"ENH","desc":"Enhanced"},"security_category":{"code":"C","desc":"Cat
        C"}}'
  recorded_at: Wed, 13 Nov 2019 12:44:53 GMT
recorded_with: VCR 5.0.0
