<% if current_user %>
  <%= render 'prison/dashboards/navigation' %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t('.title') %></h1>
    <p>If you are having trouble accessing the service, please contact your Local Systems Administrator.</p>
    <p>If you are experiencing any other issues, or the visit schedule for your prison is no longer correct, email pvb-team@digital.justice.gov.uk and we will respond to your query as soon as we can.</p>
  </div>
  <div class="column-one-third">
    <%= render 'navigation' %>
  </div>
</div>
