<% content_for :header, "Why did I receive this email?" %>
<p>
<%= t('.you_received_an_email',
      email: address_book.no_reply) %>
</p>
<p>
  <%= t('.why') %>
</p>
<p>
  <%= t('.confirmation') %>
</p>
