<% content_for :header, "Why did I receive this email?" %>
<p>
<%= t('.you_received_an_email',
      email: 'no-reply@email.prisonvisits.service.gov.uk') %>
</p>
<p>
  <%= t('.why') %>
</p>
<p>
  <%= t('.confirmation') %>
</p>
