<% if current_user %>
  <%= render 'prison/dashboards/navigation' %>
<% end %>
<section class = "grid-row staff-info">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Telephone script</h1>
    <h2 class="heading-medium">Notes for Visits Booking Staff</h2>
    <p>The purpose of having this conversation with our callers is:</p>
    <ul class="list list-bullet">
      <li>to highlight the benefits of using the online booking service https://www.gov.uk/prison-visits</li>
      <li>to identify callers who need assistance or show unwillingness to use the digital service</li>
    </ul>
    <h2 class="heading-medium">Conversation Flow Chart</h2>
    <p>
      <%= image_tag 'conversation_flow_chart.jpg', alt: 'conversation flow chart' %>
    </p>
    <h2 class="heading-medium">Conversation hints</h2>
    <ol class="list list-number">
      <li>
        <p><span class="bold-small">Did you know you can book a visit online? The online booking service lets you book up to a month in advance. It shows you availability for each day and you can choose up to three visit slots.</span></p>
      </li>
      <li>
        <p><span class="bold-small"><a name="question2"></a>Are you interested in trying the online service? I can talk you through it so that you can use it on your own next time. It only takes a few minutes and then I'll be able to confirm your booking while we're on the phone.</span></p>
        <ul class="list list-bullet">
          <li>If <span class="bold-small">YES</span>
            <ul class="list list-bullet">
              <li>Read out the link to the service: https://www.gov.uk/prison-visits. They'll need to type it into the address bar on their browser.</li>
              <li>You can then talk them through the booking steps and when you receive their request email, process it straight away. Tell them confirmation can take up to three working days.</li>
            </ul>
          </li>
          <li>If <span class="bold-small">NO</span>
            <ul>
              <li>Explain you can book their visit for them over the phone, but move on to question 3 unless they are adamant.</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <p><span class="bold-small">Is there anything that stopped you using the online service today?</span></p>
        <p>Potential answers and how to respond:</p>
        <ul class="list list-bullet">
          <li><p><span class="bold-small">"I get instant confirmation by booking over the phone."</span></p>
            <ul class="list list-bullet">
              <li>With the online service, you don't have to wait to get through to someone on the phone, and you can do it any time - even from your smartphone.</li>
              <li>It lets you choose three preferred visit dates and times, and soon you'll be able to see when days are fully booked or unavailable, so you're more likely to get the date you want.</li>
            </ul>
          </li>
          <li><p><span class="bold-small">"I prefer speaking to a person."</span></p>
            <ul class="list list-bullet">
              <li>The service is easy to use and really doesn't take long. If you book online, you won't have to wait to get through to someone to help with your booking.</li>
            </ul>
          </li>
          <li><p><span class="bold-small">"I don't have a computer/smartphone/internet connection."</span></p>
            <ul class="list list-bullet">
              <li>Did you know you can get free internet access on the computers at your local library?</li>
              <li>Tell the user they'll need to know the prison number of the person they're visiting, plus the names and dates of birth of any other visitors when they book online.</li>
            </ul>
          </li>
          <li><p><span class="bold-small">"I'm not very confident doing things online."</span></p>
            <ul class="list list-bullet">
              <li>Do you have friends or family who can use the internet? You can get them to book online for you. Or would you like me to talk you through it now so that you can use it on your own next time? (If yes, follow steps in <a href="#question2">question 2</a>).
              </li>
              <li>If you're interested in getting more confident with computers, your local council or library might run computer training courses, or you can find them at organisations like Age UK.</li>
            </ul>
          </li>
          <li><p><span class="bold-small">"I have trouble with reading/writing."</span></p>
            <ul class="list list-bullet">
              <li>Do you have friends or family who can book online for you?</li>
              <li>If you're interested in improving your reading or writing, your local library, college or adult education centre might offer literacy services, or you could contact organisations like the Literacy Trust.</li>
            </ul>
          </li>
          <li><p><span class="bold-small">"My English isn't very good and I can explain myself better on the phone."</span></p>
            <ul class="list list-bullet">
              <li>The service is written in Plain English so should be easy to understand. Would you like me to talk you through it now so that you can use it on your own next time? (If yes, follow steps in <a href="#question2">question 2</a>).</li>
              <li>If you're interested in improving your English, your local library, college or adult education centre might offer literacy services, or you could contact organisations like the Literacy Trust.</li>
            </ul>
          </li>
          <li><p><span class="bold-small">"I'm concerned about online security and don't want my personal details to go missing."</span></p>
            <ul class="list list-bullet">
              <li>Our online service is very secure. We only use your email addresses for booking requests and we never share your information.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
    <p>If the user is not interested in using the online service now, process the booking for them over the phone but emphasise the benefits of using the online service next time.</p>
  </div>
  <div class="column-one-third">
    <%= render 'navigation' %>
  </div>
</section>
