<% if @visit.can_cancel? %>
  <details class="push-top">
    <summary><span class="summary"><%= t('.issue_with_visitor') %></span></summary>
    <div class="panel panel-border-narrow">
      <div class="grid-row">
        <fieldset>
          <div class="column-one-third">
            <div class="multiple-choice">
            <%= radio_button_tag 'cancellation_reason', :visitor_banned, false %>
              <label for="cancellation_reason_visitor_banned">
                <%= t(".visitor_banned") %>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class='form-group push-top'>
        <%= submit_tag t('cancel_visit', scope: :shared), class: 'button' %>
      </div>
    </div>
  </details>
<% end %>
