<h2 class="bold-medium">
  <%= t('.title') %>
</h2>

<%= error_container f, :reasons do %>
  <label class="block-label">
    <%= f.object.checkbox_for :duplicate_visit_request %>
    <%= t('.duplicate_visit_request') %>
  </label>
<% end %>
