<h2 class="bold-medium"><%= t('.title') %></h2>
<%= error_container(f, :selection) do %>
  <label class="block-label">
    <%=
      f.radio_button(
        :selection, :duplicate_visit_request,
        class: 'js-Conditional'
      )
    %>
    <%= t('.duplicate_visit_request') %>
  </label>
<% end %>