<div class='grid-row push-top'>
  <div class='column-full'>
    <%= restriction.formatted_date %>:

    <span class='bold-small'><%= restriction.description %></span>
  </div>

  <% if restriction.comment_text %>
    <div class='column-full'>
      <%= restriction.comment_text %>
    </div>
  <% end %>
</div>
