<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      This service will be unavailable on Wednesday 2 November due to scheduled maintenance.
    </p>
  </div>
</div>


<%= render 'prison/dashboards/navigation' %>

<% if @visit.processable? || (@booking_response.present? && !@booking_response.success?) %>
    <%= render 'prison/visits/requested', visit: @visit %>
  </div>
<% else %>
    <%= render 'prison/visits/processed', visit: @visit %>
<% end %>
