<%= render 'prison/dashboards/navigation' %>

<% if @visit.processable? || (@booking_response.present? && !@booking_response.success?) %>
    <%= render 'prison/visits/requested', visit: @visit %>
  </div>
<% else %>
    <%= render 'prison/visits/processed', visit: @visit %>
<% end %>
