<% content_for :banner do %>
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span><%= t('beta_text', scope: :shared) %></span>
    </p>
  </div>
<% end %>