.date-box {
  border: 1px solid $border-colour;
  height: auto;
  margin-bottom: 5px;
  overflow: auto;
  padding: 10px $gutter-half 0;
}

.date-box__message {
  @extend .tag;
  display: inline-block;
  margin: 5px 5px 0 0;
}

.date-box__message {
  @extend .tag;
  display: inline-block;
  margin: 5px 5px 0 0;
}

.date-box--error {
  .date-box__number {
    background: $colour--error;
    color: $white;
  }
}
