.date-box {
  background: $white;
  border: 1px solid $border-colour;
  height: 150px;
  min-height: 60px;
  overflow: hidden;
  position: relative;
  padding: 10px 10px 10px 70px;
  width: 100%;
  @include core-16;
  @include prefix(box-sizing, border-box);
  .date-box__number {
    background: $border-colour;
    font-size: 48px;
    font-weight: bold;
    height: 100%;
    left: 10px;
    line-height: 105px;
    margin: -10px 0 0 -10px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 55px;
  }
  .date-box__day {
    @include bold-19;
  }
  .date-box__message {
    @extend .tag;
    display: inline-block;
    margin-top: 5px;
  }
  &.selected {
    .date-box__number {
      background: #1B567D;
      color: $white;
    }
  }
}

.date-box--error {
  .date-box__number {
    background: $colour--error;
    color: $white;
  }
}
