.visitor-labels {
  @include core-16;
  dl {
    clear: left;
    margin: 5px 0;
    @include core-16;
  }
  dt, dd {
    display: inline-block;
    @include core-16;
  }
  dt {
    margin-right: 5px;
  }
  dd {
    @include bold-16;
  }
  [class^='column-'] {
    padding-top: $gutter-half;
  }
  .visitor-labels__visitor-2, .visitor-labels__visitor-4 {
    clear: left;
  }
  .visitor-labels__visitor-0, .visitor-labels__visitor-1 {
    hr {
      display: none;
    }
  }
}

