<h2 class="heading-large">Latest booking requests</h2>

<table>
  <caption class="visuallyhidden">Visit inbox</caption>
  <thead>
    <tr>
      <th class="" scope="col">Prisoner No.</th>
      <th scope="col">Prisoner Name</th>
      <th class="" scope="col">Visit Date</th>
      <th class="" scope="col">Time slot</th>
      <th scope="col">Lead Visitor</th>
      <th scope="col">Tel.</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>a1234ab</td>
      <td>Dave Smith</td>
      <td class="">29/05/2016</td>
      <td class="">09:00 - 11:00</td>
      <td>Alan Carr</td>
      <td>0207111222</td>
      <td><a href="javascript: void(0);" class="">View Booking</a></td>
    </tr>
    <tr>
      <td>a1234ac</td>
      <td>John Doe</td>
      <td class="">30/05/2016</td>
      <td class="">09:00 - 11:00</td>
      <td>Steve Jobs</td>
      <td>0207111223</td>
      <td><a href="javascript: void(0);" class="">View Booking</a></td>
    </tr>
    <tr>
      <td>a1234ad</td>
      <td>Casey Jones</td>
      <td class="">31/05/2016</td>
      <td class="">14:00 - 16:00</td>
      <td>Boris Johnson</td>
      <td>0207111224</td>
      <td><a href="javascript: void(0);" class="">View Booking</a></td>
    </tr>
  </tbody>
</table>