<p>
  <%= t('intro',
       date: format_slot_for_public(@visit.slot_granted),
       prison: @visit.prison.name,
       prisoner: @visit.prisoner_full_name,
       scope: %i(visitor_mailer cancelled))
  %>
</p>
<p><%= t('cant_visit', scope: %i(visitor_mailer cancelled)) %>:</p>
<ul class="list list-bullet">
  <%= render @cancellation.formatted_reasons %>
</ul>
