<p>
  <%= t('intro',
       date: format_slot_for_public(@visit.slot_granted),
       prison: @visit.prison.name,
       prisoner: @visit.prisoner_full_name,
       scope: %i(visitor_mailer cancelled))
  %>
</p>

<p><%= t('cant_visit', scope: %i(visitor_mailer cancelled)) %> <%= @cancellation.formatted_reasons.first.explanation %></p>
<p><%= t('arrange_html', scope: %i(visitor_mailer cancelled)) %></p>
