.form-checkbox {
  position: relative;
  padding-left: 25px;
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 5px;
  }
}

.prison-switcher {
  float: left;
  + input {
    margin-left: $gutter-half;
    @include media(mobile) {
      margin-left: 0;
      margin-top: $gutter-half;
    }
  }
}