.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.push-bottom {
  margin-bottom: $gutter;
}
.push-top {
  margin-top: $gutter;
}
.push-left {
  margin-left: $gutter;
}
.push-right {
  margin-right: $gutter;
}
.push-bottom--half {
  margin-bottom: $gutter-half;
}
.push-top--half {
  margin-top: $gutter-half;
}
.push-left--half {
  margin-left: $gutter-half;
}
.push-right--half {
  margin-right: $gutter-half;
}
.push--none {
  margin: 0;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.wrap-text {
  word-wrap: break-word;
}
.align-vertical--middle {
  vertical-align: text-bottom;
}
.border-box {
  border: 1px solid $border-colour;
  padding: $gutter-half;
}
.border-box--orange {
  border-color: orange;
}
.border-box--large {
  border-width: 3px;
}
@media print {
  .page-break {
    page-break-before: always;
  }
}
