.open-close {
  display: block;
  height: 0.65em;
  margin: 5px;
  padding: 5px;
  width: 0.65em;
}
.icon-closed {
  background: image-url('accordion-closed.png');
  background: image-url('accordion-closed.svg'),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100%;
  width: 100%;
}
.icon-open {
  background: image-url('accordion-open.png');
  background: image-url('accordion-open.svg'),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100%;
  width: 100%;
}