.icon-important {
  background-image: image-url('icon-important.png');
}
.icon-information {
  background-image: image-url('icon-information.png');
}
.text-secondary {
  .icon {
    margin-left: 2px;
  }
}