#global-header {
  .header-wrapper {
    .header-global {
      float: left;
      width: 34%;
      .header-logo {
        width: 100%;
      }
    }
    .header-proposition {
      float: left;
      padding-top: 8px;
      width: 66%;
      #proposition-name {
        display: inline-block;
        line-height: 1em;
        &:hover {
          border-bottom: 1px solid white;
          text-decoration: none;
        }
      }
    }
  }
}

#wrapper {
  margin: 0;
}

.phase-banner-beta {
  border-bottom: none;
  a {
    text-decoration: none;
  }
}

a:hover {
  text-decoration: none;
}
a[rel="external"]{
  &:after {
    background-position: right 4px;
    height: 12px;
    margin-left: 6px;
    width: 12px;
  }
  &:hover {
    &:after {
      background-position: right -384px;
    }
  }
}

table {
  th {
    @include bold-16;
    white-space: nowrap;
  }
  td {
    @include core-16;
    .icon {
      display: block;
    }
  }
  .long {
    word-break: break-word;
  }
  .col-time {
    min-width: 80px;
  }
  &.table--hover {
    tbody>tr:not(.hidden-row):hover {
      td {
        background-color: $highlight-colour;
      }
    }
  }
  tr.hide {
    display: none;
  }
  tr.show {
    display: table-row;
  }
}

@media print {
  table {
    td div {
      page-break-inside: avoid;
    }
  }
}