#global-header .header-proposition #proposition-name:hover {
  border: none;
}

#wrapper {
  margin: 0;
}

table {
  th {
    @include bold-16;
    white-space: nowrap;
  }
  td {
    @include core-16;
  }
  .long {
    word-break: break-word;
  }
  .col-time {
    min-width: 80px;
  }
  &.table--hover {
    tr:hover {
      td {
        background-color: $highlight-colour;
        cursor: pointer;
      }
    }
  }
}

@media print {
  table {
    td div {
      page-break-inside: avoid;
    }
  }
}