#global-header {
  .header-wrapper {
    .header-global {
      .header-logo {
        width: 100%;
      }
    }
    .header-proposition {
      .content {
        margin: 0 $gutter-half;
      }
      #proposition-name {
        display: inline-block;
        line-height: 1em;
        &:hover {
          border-bottom: 1px solid white;
          text-decoration: none;
        }
      }
      #proposition-links {
        @extend .font-xsmall;
        display: block;
        li {
          border: none;
          float: none;
          a {
            @extend .font-xsmall;
          }
        }
      }
      .button-link {
        color: $white;
        line-height: 20px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @include media(desktop) {
    .header-wrapper {
      .header-global {
        float: left;
        width: 34%;
      }

      .header-proposition {
        float: left;
        padding-top: 8px;
        width: 66%;
        .content {
          margin: 0;
        }
        #proposition-links {
          li {
            float: left;
            margin-right: $gutter-half;
          }
        }
      }
    }
  }
  @include media(print){
    display: none !important;
  }
}

#wrapper {
  margin: 0;
}

.phase-banner-beta {
  border-bottom: none;
  a {
    text-decoration: none;
  }
}

a:hover {
  text-decoration: none;
}

a[rel="external"]{
  &:after {
    background-position: right 4px;
    height: 12px;
    margin-left: 6px;
    width: 12px;
  }
  &:hover {
    &:after {
      background-position: right -384px;
    }
  }
}
