.navigation {
  border-bottom: 1px solid $border-colour;
  border-top: 1px solid $border-colour;
  margin-top: $gutter-half;
  @include breadcrumbs;
  padding: 0;
  li {
    background-image: none;
    margin: 0;
    padding: 0;
    position: relative;
    a {
      display: inline-block;
      font-weight: bold;
      margin: 0;
      outline: 0;
      padding: $gutter-half $gutter;
      text-decoration: none;
      &:focus {
        color: $text-colour !important;
      }
    }
    form.search {
      background-color: $white;
      padding-top: 6px;
      position: relative;
      .form-label {
        position: absolute;
        left: 0;
        top: 6px;
        text-indent: 15px;
        line-height: 40px;
        z-index: 5;
      }
      .search-input-wrapper {
        float: left;
        width: 100%;
        padding-right: 40px;
        margin-right: -40px;
        box-sizing: border-box;
        input {
          width: 100%;
          background-color: transparent;
          border-right: none;
          position: relative;
          z-index: 10;
          &:focus {
            background-color: $white;
          }
        }
        &.focus {
          input {
            background-color: $white;
          }
        }
      }
      .button.search {
        background-image: image-url('icon-search.png');
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        border: none;
        height: 22px;
        float: left;
        padding: 19px 19px 19px;
        width: 30px;
      }
      .search-icon {
        height: 16px;
        width: 16px;
      }
    }
    &.active {
      background-color: #004A83;
      a {
        color: $white;
      }
    }
    .badge {
      font-size: 14px;
      line-height: 1;
      padding: 3px 2px 2px;
      min-width: 15px;
      display: inline-block;
      border-radius: 10px;
      text-align: center;
    }
  }
}
