.request-details {
  padding: 15px 15px 15px 40px;
}
.request-row-details {
  clear: left;
  cursor: normal;
  dl {
    @include core-16;
    float: left;
    width: 25%;
  }
  dt {
    @include bold-16;
  }
}