table.tablesorter {
  th.tablesorter-header:not(.sorter-false) {
    cursor: pointer;
  }
  th:not(.sorter-false).tablesorter-headerUnSorted {
    background: image-url('black-unsorted.gif') no-repeat right 15px center;
  }
  th:not(.sorter-false).tablesorter-headerAsc {
    background: image-url('black-desc.gif') no-repeat right 15px center;
  }
  th:not(.sorter-false).tablesorter-headerDesc {
    background: image-url('black-asc.gif') no-repeat right 15px center;
  }
}
@media screen and (max-width: 768px) {
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 2px solid $border-colour;
    display: block;
  }
  table td {
    border-bottom: 1px solid $border-colour;
    display: block;
    text-align: right;
    &:last-child {
      border-bottom: none;
    }
  }
  table td:before {
    content: attr(aria-label);
    float: left;
  }
}