table {
  th {
    @include bold-16;
    white-space: nowrap;
  }
  td {
    @include core-16;
    .icon {
      display: block;
    }
  }
  .long {
    word-break: break-word;
  }
  .col-time {
    min-width: 80px;
  }
  &.table--hover {
    tbody>tr:not(.hidden-row):hover {
      td {
        background-color: $highlight-colour;
      }
    }
  }
  tr.hide {
    display: none;
  }
  tr.show {
    display: table-row;
  }
}

table.tablesorter {
  th.tablesorter-header {
    cursor: pointer;
  }
  th.tablesorter-header-none .tablesorter-header-inner {
    background: image-url('black-unsorted.gif') no-repeat right center !important;
  }
  th.tablesorter-header-asc .tablesorter-header-inner {
    background: image-url('black-desc.gif') no-repeat right center !important;
  }
  th.tablesorter-header-desc .tablesorter-header-inner {
    background: image-url('black-asc.gif') no-repeat right center !important;
  }
  th.sorter-false .tablesorter-header-inner {
    cursor: auto;
    background: none !important;
  }
}
@media screen and (max-width: 768px) {
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 2px solid $border-colour;
    display: block;
  }
  table td {
    border-bottom: 1px solid $border-colour;
    display: block;
    text-align: right;
    &:last-child {
      border-bottom: none;
    }
  }
  table td:before {
    content: attr(aria-label);
    float: left;
  }
}

@media print {
  table {
    td div {
      page-break-inside: avoid;
    }
  }
}
