.tag {
  padding: 2px 5px 0;
}
.tag__icon {
  color: $white;
  display: inline-block;
  float: left;
  font-size: 16px;
  margin-right: 5px;
}
.tag--heading {
  margin-top: 9px;
  margin-left: 6px;
}
.tag-booked {
  background-color: $button-colour;
  color: $white;
}
.tag-cancelled {
  background-color: $black;
  color: $white;
}
.tag-error {
  background-color: $mellow-red;
  color: $white;
}
.tag-rejected {
  background-color: $red;
  color: $white;
}
.tag-requested {
  background-color: $light-blue;
  color: $white;
}
.tag-warning {
  background-color: $orange;
  color: $white;
}
.tag-withdrawn {
  background-color: $grey-1;
  color: $white;
}
.tag-verified {
  background-color: $turquoise;
  color: $white;
  display: inline-block;
  @include core-16;
}
.tag-verified--error {
  background-color: $error-colour;
}
