.tag {
  display: inline-block;
  padding: 3px 5px 1px;
}
.tag--heading {
  padding: 5px 5px 3px;
}
.tag--requested {
  background-color: $colour--requested;
  color: $white;
}
.tag--booked {
  background-color: $colour--verified;
  color: $white;
}
.tag--cancelled {
  background-color: $colour--cancelled;
  color: $white;
}
.tag--error {
  background-color: $colour--error;
  color: $white;
}
.tag--rejected {
  background-color: $colour--error;
  color: $white;
}
.tag--warning {
  background-color: $colour--warning;
  color: $white;
}
.tag--withdrawn {
  background-color: $colour--withdrawn;
  color: $white;
}
