.confirmations {
  h2,
  h3 {
    font-weight: bold;
  }

  form h2 {
    border-bottom: 1px solid $black;

  }

  form .validation-summary h2 {
    border: none;
  }
}

blockquote {
  color: $secondary-text-colour;
  border: none;
  font-style: italic;
  padding: 0;
}

// Amends for BookingCalendar with radio buttons
.BookingCalendar {
  clear: left;
  width: 500px;
  margin: 1em 0;
  border-top: 1px solid $grey-3;

  input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    margin-top: -7px;
    margin-left: -7px;

  }

  & .has-tag input {
    top: 6px;
    margin-top: auto;
  }
}

label.BookingCalendar-dateLink {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #0b0c0c;
  text-decoration: none;
  cursor: pointer;

  line-height: 1.5;
  text-align: center;
}

.BookingCalendar-content .BookingCalendar-day {
  padding-left: 3px;
}

.processing-form {
  float: left;
  width: 63%;
}

.people {
  float: right;
  width: 33%;
}

.group, .panel-indent {
  height: auto;
  margin: 1em 0;
  overflow: hidden;
}

.actions {
  margin: 1em 0;
  padding-top: 1em;
  @include media(desktop) {
    clear: both;
  }

  p {
    margin-top: 0.263em;
    text-align: right;
    @include media(false, 768px) {
      margin-top: 2em;
      text-align: left;
    }
  }
}

.primary-actions {
  float: left;
  @include media(false, 768px) {
    float: none;
  }

  @include ie(6) {
    float: none;
  }
}

dl {
  @include core-19;
  dt {
    @include core-16;
  }
  &.labels {
    dt {
      @include core-19;
      float: left;
      margin-right: 0.25em;
    }
    dd {
      font-weight: bold;
    }
  }
}

dd {
  margin: 0;
}

@include media(mobile) {
  .processing-form,
  .people {
    float: none;
    width: auto;
  }
}
