$gutter: 30px;

@include media(tablet) {
  .Grid {
    margin: 0 (-$gutter);

    &:after {
      content: "";
      display: block;
      clear: both;
    }
    
    .Grid-1-4 {
      width: $one-quarter;
    }

    .Grid-1-3 {
      width: $one-third;
    }

    .Grid-1-2 {
      width: $half;
    }

    .Grid-2-3 {
      width: $two-thirds;
    }

    .Grid-3-4 {
      width: $three-quarters;
    }
    
    [class^='Grid-'] {
      padding: 0 $gutter;
      float: left;
      box-sizing: border-box;
      
      @include ie-lte(8) {
        float: none;
        width: auto;
        max-width: 660px;
      }
    }
  }

}
