$bar-color: steelblue;
$text-color: black;

.bar {
    rect {
        fill: $bar-color;
        shape-rendering: crispEdges;
    }

    text {
        fill: $text-color;
    }
}

.axis {
    path, line {
        fill: none;
        stroke: $text-color;
        shape-rendering: crispEdges;
    }
}

line {
    stroke-width: 2;
}

.three-days {
    stroke: rgb(255, 0, 0);
}

.three-days-label {
    fill: rgb(255, 0, 0);
}

.no-data-label {
    fill: rgb(255, 0, 0);
}

.percentile {
    stroke: rgb(0, 0, 255);
}

.percentile-label {
    fill: rgb(0, 0, 255);
}

.median {
    stroke: DodgerBlue;
}

.median-label {
    fill: DodgerBlue;
}

#overall-performance {
    font-size: 24pt;
    width: 100%;

    td {
        text-align: center;
    }
}

.d3-chart-bubble-matrix {
    .thread {
        shape-rendering: crispEdges;
        stroke: #e0e0e0;
    }

    .row-header text {
        text-anchor: end;
    }

    .col-header text {
        text-anchor: middle;
    }

    .bubble circle {
        fill: rgba(255, 0, 0, 0.5);
    }

    text {
        fill: #666;
        font-size: 80%;
    }
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}