/* clearfix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after,
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after,
.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf,
.clearfix {
    *zoom: 1;
}
/* end clearfix */



/* list items to same font size as p */
[role='main'] li {
  @include core-19
}

ul {
  @include media(mobile) {
    padding-left: 20px;
  }
}
/* end list items */



/* mixin shared in date-slider and slot-picker */
@mixin corner-marker($size: 10px) {
  overflow: hidden;
  
  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $size $size 0;
    border-color: transparent $light-blue transparent transparent;
  }
}
/* end mixin shared in date-slider and slot-picker */


/* table from alphagov/static */
$grey-6: #a1acb2;
$grey-7: #b8c6cc;
$grey-8: #DEE0E2;
$grey-9: #eaedef;

article table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em -1em 2em -1em;
  width: 105.95%;

  caption {
    @include bold-24;
    margin: 0.4em 0.5em 0.4em 0.7em;
    text-align: left;
  }

  @include media(mobile) {
    margin: 1em 0 2em 0;
    width: 100%;

    caption {
      padding-left: 0;
    }
  }
}

article th, article td {
  @include core-16;
  vertical-align: top;
  padding: 0.7em 0.5em 0.7em 1em;

  a[rel="external"] {
    @include external-link-16;
    @include media(mobile) {
      @include external-link-14;
    }
  }
}

article tr:nth-child(even) td {
  background-color: #fff;
}

article td {
  background: $grey-9;
  border: dotted 1px $grey-7;

  small {
    @include core-16;
  }
}

/* reduce table font size on very small screens */
@media screen and (max-width: 320px) {
  article th, article td, article td small {
    font-size: 10px;
  }
}

article th {
  line-height: 1.25em;
  text-align: left;
  color: $black;
  font-weight: 700;
  background-color: $grey-8;
  border: solid 1px $grey-6;
}
/* end table from alphagov/static */


/* hide live phase */
.proposition-phase {
  display: none
}
/* end hide live phase */


/* fix radio/checkbox in ie6 - govuk_elements */
@include ie-lte(6) {
  .block-label {
    zoom: 1;
  }
}
/* fix radio/checkbox */


/* BookingCalendar for IE6 */
@include ie-lte(6) {
  .BookingCalendar-content {
    height: 55px;
    zoom: 1;
  }
  a.BookingCalendar-dateLink {
    height: 55px;
    display: block;
  }
}
/* BookingCalendar for IE6 */
