<h2 class="heading-small"><%= prison.name %></h2>
<ul class="slot-list">
  <% DayDecorator::DAYS_OF_THE_WEEK.each_with_index do |day, day_counter| %>
    <li>
      <span class="slot-heading"><%= StaffInfoController::DAY_NAMES[day_counter] %></span>
      <ul>
        <%= prison.recurring_slot_list_for(day.to_s) %>
      </ul>
    </li>
  <% end %>
</ul>